<h1>New Attachment</h1>

<%= form_for(attachment) do |f| %>
  <% if attachment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(attachment.errors.count, "error") %> prohibited this attachment from being saved:</h2>

      <ul>
      <% attachment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :file %><br />
    <%= f.file_field :file %>
  </div>
  <div class="field">
    <%= f.label :post_id %><br />
    <%= f.collection_select :post_id, Post.all, :id,:titulo %>
  </div>

   <div class="actions">
    <%= f.submit "Create Product", class: "btn btn-primary btn-lg" %>
  </div>
<% end %>

<%= link_to "Atras", posts_path %>
