<div class="jumbotron">
  <h1><%= post.titulo %></h1>
  <div>
    <%= post.contenido %>
  </div>
  <div>
    <p>$<%= post.price %></p>
  </div>
</div>
<div class="text-right">
  <% if post.usuario and usuario_signed_in? and post.usuario == current_usuario %>
    <%= link_to 'Editar', edit_post_path(post) %>   
    <%= link_to 'Borrar', post, method: :delete, data: {confirm: "¿Estas seguro de borrar el post?"} %>   
  <% end %>

  <%= link_to 'Back', posts_path %>
</div>
